<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户详情页面</title>
</head>
<body>
    <div class="container">
        <div th:id="${'user_' + user.id}">
            <div class="row">
                <label>用户ID：</label>
                <span th:text="${user.id}"></span>
            </div>
            <div class="row">
                <label>用户编码：</label>
                <span th:text="${user.usercode}"></span>
            </div>
            <div class="row">
                <label>用户名称：</label>
                <span th:text="${user.name}"></span>
            </div>
        </div>
    </div>
</body>
</html>
